{% extends './base.html' %}
{% block head %}
<title>Edit post</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<br>
<h3 class="text-primary">Edit Your Question</h3>
<br>
    <div style="padding:20px;background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;">
        <form class="form-group" action="{% url 'editpost' post.id %}" method="post" enctype="multipart/form-data">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" id="tags" name="tags" value="{{ post.tags }}" required>
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" required>
            <label for="body">Question</label>
            <textarea rows="5" cols="5" class="form-control" id="body" name="body" required>{{ post.body }}</textarea>
            <br>
            {% if post.thumbnail %}
            <i class="text-muted">Click below to add a new thumbnail</i>
            <div class="image-upload">
                <label for="image-file">
                        {% if post.thumbnail %}
                        <img src="{{ post.thumbnail.url }}" class="rounded mx-auto d-block" width="400" height="400" title="you can experience your new thumbnail with full resolution once you save your changes">
                    <br>
                    {% else %}
                        {% load static %}
                        <img src="{% static 'default.png' %}" class="rounded mx-auto d-block" height="400" width="400" title="you can experience your new thumbnail once you save your changes">
                    {% endif %}
                </label>
                <input type="file" name="thumbnail" id="image-file" style="display:none;">
            </div>
            {% else %}
                <input type="file" name="thumbnail" id="image-file" style="display:none;">
            {% endif %}
            <input type="submit" name="submit" value="Save Changes" class="btn btn-primary">
        </form>
    </div>
{% endblock %}