{% extends './base.html' %}
{% block head %}
<title>Account</title>
<style type="text/css">
	#profileicon {display:inline-block;margin-right:10px;}
	#postdetail {display:inline-block;}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<center><h2 class="text-primary">Account Settings</h2></center>
<br>
<center>
	<div class="image-upload">
		<label for="image-file">
				{% if user.image %}
				<img src="{{ user.image.url }}" class="rounded-circle" width="200" height="200" title="click here to change your profile picture">
			<br>
			{% else %}
				{% load static %}
				<img src="{% static 'default.png' %}" class="rounded-circle" height="200" width="200" title="click here to add a new profile picture">
			{% endif %}
		</label>
		<form action="{% url 'account' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
			<input type="file" name="accountimage" id="image-file" value="New Profile Picture" style="display:none;" onchange="form.submit()" required>
		</form>
	</div>
<br>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		   <strong {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} >
			   {{ message }}</strong>
		{% endfor %}
	</ul>
{% endif %}
</center>
<div style="padding: 15px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;">
	<form class="form-group" style="padding: 20px;">
		<h3><p class="text-primary"><u>Account Information</u></p></h3>
		<h5 id="postdetail">Username :&nbsp;&nbsp;<simple class="text-primary">{{ user.username }}</simple></h5>
		<h5>Email :&nbsp;&nbsp;<simple class="text-primary">{{ user.email }}</simple></h5>
		<h5>Questions :&nbsp;&nbsp;<simple class="text-primary">{{ posts.count }}</simple></h5>
		<h5>Joined <span class="badge badge-dark"><a href="{% url 'welcome' %}" class="text-light">PyDev</a></span> on:&nbsp;&nbsp;<simple class="text-primary">{{ user.datetime }}</simple></h5>
		<br>
		<a class="btn btn-primary" href="{% url 'changepassword' %}">Change password</a>
		{% if user.image %}
		<a class="btn btn-danger" href="{% url 'deleteprofilepic' %}">Remove profile picture</a>
		{% endif %}
	</form>
	<hr>
	<form style="padding:20px;">
	<h3 class = "text-danger"><u>Danger Zone</u></h3>
	<br>
	<p class = "text-danger">Delete This Account</p>
	<p>Deleting this account deletes all your <i class = "text-primary"> Posts,Activities,Profile </i>from our servers within 24 hours</p>
	<a class="btn btn-danger" href="{% url 'deleteaccount' %}">Delete this account</a>
	</form>
	<br>
	<br>
</div>
{% endblock %}
