{% extends './base.html' %}
{% block head %}
<title>Change Password!</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
       <strong {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} >
           {{ message }}</strong>
    {% endfor %}
</ul>
{% endif %}
	<hr>
	<form action="{% url 'changepassword' %}" method="post">
	<h4>
		<p>Your current password :&nbsp;&nbsp;{{ user.password }}</p>
		<br>
		<label for='newpassword'>New password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input type="password" name="newpassword" id="newpassword" placeholder="Enter Newpassword" required>
		<br>
		<br>
		<label for='retypepassword'>Retype password&nbsp;&nbsp;</label>
		<input type="password" name="retypepassword" id="retypepassword" placeholder="Retype Newpassword" required>
		<br>
		<br>
		<input type="submit" value="Change Password" class="btn btn-success">
	</h4>
	</form>
	<hr>
{% endblock %}